<div style="font-family: Arial, Helvetica, sans-serif; height:80vh;overflow:scroll;margin:5px;overflow-x: hidden;">
  <p style="font-weight:bold;">
    Information taken directly from <a href="https://www.chesco.org/484/Nursing-Home-Transition">Cheso.org</a>
    <hr>
  <p>
 Nursing Home Transition</p>
<p>
The Nursing Home Transition (NHT) purpose is to assist residents in a nursing hone who want to return to the community.
</p>
<p>
The Chester County Department of Aging Services provides transition assistance for those aged 60+.The Cerebral Palsy Association of Chester County provides transition services to those aged 59 or younger.
</p>
<p>
Nursing Home Transition Services
</p>
<ul>
  <li>
    Long Term Living Counseling - The long term living counselor meets with the nursing home resident and provides information and guidance; ensures that all options available to Pennsylvania residents to meet their long term living care needs are explained fully; and enables a resident to make an informed choice about where and how they receive long term living services.</li>
    <li>
    Transition Coordination - Transition coordination activities may include information regarding community resources, assistance in finding housing, establishing a household, and coordinating ongoing services to allow the transitioning person to live independently in the community.
    </li>
</ul> 
<p>
Eligibility
</p>
<ul>
  <li>
    Presently reside in a Nursing Home in Chester County</li><li>
    Desire to return to community living</li>
      <li>
    Is able to have needs safely met in a community setting</li>
    </ul>
<p>
Nursing Home Transition Benefits
</p>
<ul>
  <li>
    Provides information and guidance to residents entering nursing homes</li>
    <li>
    Ensures that all options are explained fully regarding long-term living choices</li>
    <li>
    Enables a resident to make an informed choice about where and how they receive long term living services</li>
    <li>
    Support and guidance in transition to the community from the Nursing Home Transition Coordinator.</li>
    <li>
    Assistance in finding and obtaining housing and setting up a household, if needed
    </li>
    <li>
    Information and Assistance for home and community based services and other community programs
    </li>
    <li>
    Resources to assist with items such as security deposits, household items, adaptive equipment, utility deposits, and some other necessary expenses for an individual to establish his or her basic living arrangement and to move into their new living arrangement, if needed</li>
    <li>
    Transition services provided by an agency specializing in assessing and determining a consumer’s specific care needs.Those age 60 and older are provided transition assistance by the Chester County Department of Aging Services and those age 59 and younger are provided transition assistance by Cerebral Palsy Association of Chester County</li>
</ul>
</div>