<!--<div class="bottombar"></div>-->
<p></p>
<table>
    <tr>
      <td class="d1"[routerLink]="['/home']"style="text-align:center"><img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/baseline_home_black_36dp.png" width="50" height="50"></td>
        
        <td class="d2">
            <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_record_voice_over_black_36dp.png" width="50" height="50" style="margin-left:60px;">
        </td>
        
       <td class="d3"[routerLink]="['/settings']">
          <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_settings_black_36dp.png" width="50" height="50" style="margin-right:40px;">
            
            <div class="copy"></div>
        </td>
        
    </tr>
</table>

