
<table>
    <tr>
        <td class="d1"[routerLink]="['/settings']">
          <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_settings_black_36dp.png" width="50" height="50">
            
            <div class="copy"></div>
        </td>
        <td class="d2">
            <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_record_voice_over_black_36dp.png" width="50" height="50">
        </td>
        
        <td class="d3"[routerLink]="['/home']"style="text-align:center"><img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/baseline_home_black_36dp.png" width="50" height="50"></td>
        
    </tr>
</table>

