<div style="height:80vh;">
  <h1>Contact Info</h1>
  <div style="background-color:#FF5964;border-radius:25px;margin:auto;position:relative; text-align:center; height:50%;">
    <div style="margin:auto;">
    <br style="line-height:50%;">
    <strong>
<p style="margin-top:5px;">
Drexel University
</p>
<p>
1601 Cherry St,
</p>
<p>
Rm 223, Ms 21041,
</p>
<p>
Philadelphia, PA 19102
</p>
<p>
  Director:Arun Ramakrishnan
</p>
<p>
  Phone (O): <a href="tel:+2155537018">215-553-7018</a>
</p>
<p>
Email: <a href="mailto:getsafeathome@drexel.edu?Subject=Safe%20at%20Home%20Question" target="_top">getsafeathome@drexel.edu</a>
</p>
</strong>
</div>
</div>
<!--
<h1>
  Send a message to the team
  </h1>
  <p> Note: They will not answer back</p>
   Subject:<br><input  type="text"  value="Inquiry"><br>
   Body:<br><textarea cols="50" rows="10"></textarea><br>
        <button (click)="logText(textbox.value)"disabled>Send</button>
        <button (click)="textValue=''" disabled>Clear</button>
</div>
-->