div.column1{
  width: 100%;
  height:50%;
text-align:center;
border-radius:25px;
margin-bottom: 5px;


}
div.Column{
  width: 30%;
  height:50%;
text-align:center;

display:inline-block;
background-color:#35A7FF;
margin:5px 2px 0px 2px;

}
table, th, td {
  border: 1px solid red;
}
table{
  height:80%;
  width:90%;
   margin:auto;
   position:relative;
    border-collapse: collapse;
}