/* Add application styles & imports to this file! */
body {
  margin: 0;
}
app-top-bar {
  width: 100%;
  height: 10vh;
  /*background-color: #B75AE6;*/
  padding: 0px;

  
}
app-body{
  margin:0;
}
app-top-gray-bar{
  /*
  width: 100%;
  height: 10px;
  border-radius:0;
  background-image:linear-gradient(to top,blue,black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 50%;
    transform: translate(-50%, -50%);
    opacity:.5;
  margin:0px;*/
}
app-body{
  height:80vh;
}
app-bottom-bar {
  width: 100%;
  height: 10vh;
  /*background-color: #B75AE6;*/
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  position: flex;
  right: 0;
  bottom: 0;
  left: 0;
  margin:0;
}
app-gray-bar {
  
  width: 100%;
  height: 10px;
  border-radius:0;
  background-image:linear-gradient(to bottom,white,black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  
  left: 50%;

    transform: translate(-50%, -50%);
    opacity:.5;
  margin:0px;
  
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
