<div style="">
<div class="container" style="display: flex; height: 160px; width:100%; padding: 10px 0px; margin:0"><!---First container--->
        <div style=" background:#FF5964;"class="column1"[routerLink]="['/eval']">
        <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto2@master/src/app/baseline_home_work_black_48dp.png" width="80" height="80"style="position:relative;">
        <p style="color:white;">
            Home Safety Evaluation
            </p>
        </div>
        <div style=" background: #35A7FF;"class="column2" [routerLink]="['/progress']">
          <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_assessment_black_48dp.png" width="80" height="80"style="position:relative;">
          <p style="color:white;">
          Track your progress
          </p>
        </div>
    </div>
    <div class="container" style="display: flex; height:160px;padding: 10px 0px;"><!---Second container--->
        <div class="column1"style=" background: #38618C;">
            
        </div>
        <div class="column2"style="flex-grow: 1; background: #FFE066; margin-left:10px"[routerLink]="['/learning']">
         <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_note_black_48dp.png" width="80" height="80">
         <p>
            Learning Center
            </p>
            
        </div>
    </div>
    <div class="container" style="display: flex; height: 160px;padding: 10px 0px;">
        <div style=" background: #35A7FF;" class="column1"[routerLink]="['/transition']">
         <img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/84148/1332757879.png" width="80" height="80">
         <p style="color:white;">
            Home Transition Program
            </p>
        </div>
        <div style=" background: #FF5964;" class="column2"[routerLink]="['/contact']">
         <img src="https://cdn.jsdelivr.net/gh/wizardto1/ui-proto1@master/src/app/baseline_contact_support_black_36dp.png" width="80" height="80">
         <p>
            Contact Us</p>
        </div>

    
        
    </div>
</div>
