h1{
  text-align:center;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color:#38618C;
  

}
div{
   width: 100%;
  height: 10px;
  background:linear-gradient(to top,white,black);
  display: flex;
  flex-direction: row;
  
  align-items: center;
  position: relative;
  left: 50%;
    transform: translate(-50%, -50%);
    opacity:.5;    

}