<div style="height:80vh">
<h1>
  About the App
</h1>
<p>
  A self-guided online home safety assessment tool for older adults, their family members and health professionals
  </p>
  <p>
   Get Safe at Home, a mobile app, helps older adults, family members, and providers to efficiently identify potential hazards in their home environment and learn about potential resources to help them safely age in place and lower costs for all stakeholders.
  </p>
  <div style="height:80vh">
<h1>
Change Language
</h1>
 <input type="radio" id="english" name="drone" value="huey"
         checked>
  <label for="english">English</label><br>
   <input type="radio" id="spanish" name="drone" value="huey" disabled
         >
  <label for="spanish">Spanish
  </label>
  <br>
<button>Confirm</button>
<p>
  Note:Spanish will be available at a later date</p>
</div>


</div>